.movie-box-container {
  width: 325px;
  height: 375px;
  padding: 10px 5px 5px;
  border: 1px solid transparent;
  margin: 10px;
  background: $medium_gray;
  display: inline-block;
  box-sizing: border-box;

  img {
    width: 300px;
    height: 300px;
    object-fit: contain;
    margin: 0 0 10px;
  }

  div {
    line-height: 1.45rem;
  }

  .title {
    font-size: 1.2rem;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
