.listing-search-bar-container {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;

  .search-box {
    width: 70%;
    max-width: 300px;
    min-width: 200px;
    margin: 0 0 10px;
    box-sizing: border-box;

    input {
      width: 100%;
      border-radius: 10px;
      border-width: 1px;
      height: 28px;
      box-sizing: border-box;
      padding: 2px 5px;
      outline: none;
    }

    @media (min-width: $screen-sm-min) {
      margin: 0 20px 0 0;
    }
  }

  button {
    border: transparent;
    padding: 5px 10px;
    font-size: 1rem;
    border-radius: 10px;
    box-sizing: border-box;
    height: 28px;

    &:nth-child(odd) {
      margin-right: 5px
    }

    &:nth-child(even) {
      margin-left: 5px
    }
  }
}
